<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
        {{angForm.get('clientName').value}}
      <div class="form-group">
        <label class="col-md-4">Client Name</label>
        <input type="text" 
          class="form-control" 
          name="clientName" 
          value="angForm.get('clientName').value"
          formControlName="clientName" 
          #clientName [(ngModel)] = "angForm.get('clientName').value"/>
      </div>
      <div *ngIf="angForm.controls['clientName'].invalid && (angForm.controls['clientName'].dirty || angForm.controls['clientName'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['clientName'].errors.required">
          Client Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Client Identification</label>
        <input type="text" class="form-control" name="clientIdentifier" 
          formControlName="clientIdentifier" #clientIdentifier 
          [(ngModel)] = "angForm.get('clientIdentifier').value"/>
      </div>
      <div *ngIf="angForm.controls['clientIdentifier'].invalid && (angForm.controls['clientIdentifier'].dirty || angForm.controls['clientIdentifier'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['clientIdentifier'].errors.required">
          Client Price is required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateClient(updateClient)" [disabled]="angForm.invalid" class="btn btn-primary">Update Client</button>
      </div>
    </form>
  </div>
</div>